body {
  font-family: 'Roboto Mono', monospace;
  
}

.container-fluid {
padding: 75px;
}

.about {
  background: #f8f9fa;
}


li {
  display: inline;
  list-style: none;
  margin: 15px;
  font-size: 20px;
}

.py-6 {
  font-family: 'Playfair Display', serif;
  padding: 25px;
}

.btn a {
  text-decoration: none;
}

.about p a {
  text-decoration: none;
}

.btn a:hover {
  color: white;
}

.col-md { 
    cursor: text;
    font-size:14px;
    transition: all 0.2s ease-in-out;
}

.col-md:hover {
  transform: scale(1.1);

}
 
.inspirational {
  margin: auto;
  margin-top: 45px;
}

.author-name {
  color: purple;
}